page{
  height: 100%;
  width: 100%;
  background:#F2F2F2;
}
.app {
  width: 100%;
  height: 100%;
  margin:  auto;
}
.top {
  height: 170px;
  width: 100%;
  font-size: 40px;
  text-align: center;
  background:#FFFFFF;
}
.top_title{
  padding-top: 90px;
}
.mid{
  height: 100px;
  width: 100%; 
  background:#FFFFFF;
  display: inline-block;
}
.mid_left{
  width:50%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.mid_one_off{
  color: #cdcdcd;
  text-align: center;
}
.mid_one_on{
  text-align: center;
  border-bottom:1px solid #000000;
}
.content{
  width:100%;
  margin: auto;
}
.bottom_left_img{
  margin-top: 95px;
  margin-left: 30px;
  height: 60px;
  width: 60px;
  float: left;
}
.mid_right{
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
}
.address_img{
  height: 50px;
  width: 50px;
}
.content_one{
  background: #FFFFFF;
  border-radius: 25px;
  width: 100%;
}
.content_one_top{
  padding-top: 20px;
  height: 100px;
  width: 80%;
  margin:auto;
}
.content_one_mid{
  color: #8a8a8a;
  font-size: 25px;
}
.content_one_time{
float: left;
}
.content_one_school{
float: right;
}
.content_one_bottom{
  width: 80%;
  margin: auto;
  background-color: #FDFDF1;
  border-radius: 25px;
}
.status_nofind{
  text-align: center;
  margin-right: -70px;
  float: right;
  height: 100%;
  width: 25%;
  color: #FFFFFF;
  background-color: #A7C4FE;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.status_find{
  text-align: center;
  margin-right: -70px;
  float: right;
  height: 100%;
  width: 25%;
  color: #FFFFFF;
  background-color: #CCCCCC;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.comment{
  width: 80%;
  margin: auto;
}
.bottom_img_div{
  margin: 20px auto;
  width: 80%;
  text-align: center;
}
.bottom_img{
  width: 400px;
}
.content_bottom_title{
  height: 70px;
  width: 80%;
  margin:auto;
  padding-top: 20px;
}
.bottom_button{
  width: 40%;
  padding-bottom: 15px;
  margin: auto;
  text-align: center;
}
.submit{
  background: #f4ea2a;
}
.comment{
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background: #FFFFFF;
}
.comment_input{
  float: left;
  padding-left: 30px;
  margin-top: 10px;
  margin-left: 30px;
  background:#F2F2F2;
  height: 70%;
  width: 70%;
  border-radius: 25px;
}
.comment_send{
  float: right;
  margin-right: 10px;
  width: 18%;
  height: 70%;
  margin-top: 10px;
}
.send_button{
  height: 100%;
  width: 100%;
  background: #f4ea2a;
}
.comment_details{
  background: #FFFFFF;
  margin-top: 20px;
  height: 100%;
  width: 100%;
}
.placeholder{
  padding-top: 10px;
  text-align: center;
  color: #8a8a8a;
}
.comment_one{
  width: 90%;
  margin: auto;
}
.comment_one_top{
  float: left;
  margin-top: 20px;
  width: 100%;
}
.comment_top_left{
  float: left;
}
.comment_top_right{
  float: right;
  color: #8a8a8a;
}
.comment_one_content{
  margin-top: 10px;
  float: left;
}
.allcontent{
  background: #FFFFFF;
  width: 100%;
  height: 100%;
}