page{
  height: 100%;
  background: #533BB0;
}
.app {
  width: 100%;
  height: 100%;
}
.top{
  height: 120px;
  width: 100%;
  text-align: center;
}
.toptext{
  padding-top: 80px;
}
.title {
  height: 150px;
  width: 100%;
  color:#FFFFFF;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.title .flex1 {
  flex: 1;
  height: 100px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  line-height: 100px;
  background-color: #5F47B7;
  display: flex;
  justify-content: space-around ;
  align-items: center;
}

.title .flex2 {
  flex: 2;
}

.title .flex3 {
  flex: 1;
  height: 100px;
  line-height: 100px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #5F47B7;
  display: flex;
  justify-content: space-around ;
  align-items: center;
}
.imageleft{
  width: 40px;
  height: 40px;
}
.question{
  background: #366541;
  height: 400px;
  width: 95%;
  margin: 15px auto;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.word{
  height: 150px;
  width: 150px;
  border: solid 1px #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 60px;
}
.anniu{
  height:100px;
  width:95%;
  margin: 15px auto;
  display: flex;
}
.anniuleft{
  width: 50%;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #D46760;
  text-align: center;
  line-height: 100px;
}
.anniuright{
  width: 50%;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: #6E9BCA;
  text-align: center;
  line-height: 100px;
}
.answer{
  height: 200px;
  width: 95%;
  margin: 15px auto;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.active{
  height: 100%;
  width: 100%;
  background:#D46760;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
